
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(107, 107, 107);
}

nav{
    width: 100%;
    background-color: rgb(185, 189, 189);
    display: flex;
    position: fixed;  
    height: 30px;
    justify-content: center;
    align-items: center;
 }

#name{
    text-shadow:3px 3px 2px rgb(21, 190, 252);
    color: aquamarine;
    text-align: center;
    font-size: 4em;
}

a{
    text-decoration: none;
}

li{
    display: inline;
  align-items: center;
}

.left {
    float:left; 
    width:50%;
    height:280px;
}

.right{
    float:right;
    width:50%;
    height:280px;
}




.left-links{
    flex:1 1 200px;
 }
 .links {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
 }
 .links:hover {
    border-bottom: 2px solid purple;
 }
 .selected{
    border-bottom: 2px solid purple;
 }

 main{
    position: relative;
    top: 40px;
 }

 .row {
    display: flex;
  }
  .column {
    flex: 60% 40%;
    padding: 16px;
    height: 250px;
  }

  #text{
    position: relative;
  
  }

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: rgb(185, 189, 189);
    margin-left: 10px;
 }

 body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #b3bbb8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6a6a6a;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


#section2{
    margin-top: 100px;
    background-color: rgb(185, 189, 189);
}

#skill{
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 191, 255);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .skill{
    width: 160px;
    height: 160px;
    position: relative;
    display: flex
  }

  .outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
     -6px -6px 10px -1px rgba(255,255,255,0.7);
    padding: 20px;
  }


  .inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgb(0,0,0,0.2),
     -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
  }

  #number{
    font-weight: 600px;
    color: #555;
  }

 .circle1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
  }

  svg{
    position: absolute;
    top: 0;
    left: 0;
  }

  @keyframes anim{
    100%{
      stroke-dashoffset: 94.4;
    }
  }
#head {
    text-shadow:3px 3px 2px rgb(246, 177, 213);
    padding-bottom: 20px;
    }

  #line{
    display: flex;
    justify-content: space-between;
  }

  /* circle 2 */

  #number1{
    font-weight: 600px;
    color: #555;
  }

  .circle2{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 2s linear forwards;
  }

  svg{
    position: absolute;
    top: 0;
    left: 0;
  }

  @keyframes anim2{
    100%{
      stroke-dashoffset: 236;
    }
  }


  /* circle 3 */

  #number2{
    font-weight: 600px;
    color: #555;
  }

  .circle3{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim1 2s linear forwards;
  }

  svg{
    position: absolute;
    top: 0;
    left: 0;
  }

  @keyframes anim1{
    100%{
      stroke-dashoffset: 330;
    }
  }


